body{
    overflow-x: hidden;
    margin: 0%;
    padding : 0%;
    color: white;
    background-color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.web1{
    background-image: url(./images/pizzback1.jpg);
    background-size: cover;
    background-position:pos;
    background-repeat: no-repeat;
    height: 100vh; 
}


.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 20px;    
    text-decoration: none;
    color: white;
}
.header>p{
        font-size: 30px;
        flex-wrap: wrap;
        align-items: center;
    justify-content: center;
    margin-right: 6%;
}
.header>ul>li{
    list-style-type: none;
}

.header>ul>li>a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}


.intro1{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 200px;
    font-size: large;
}
.intro1>h1{
    font-size: 40px;
    font-style: italic;
    border-bottom:red 10px solid ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}








.web2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}
.midabout-us{   
    width: 300px;
    position: flex;
    justify-content: center;
    align-content: center;
    align-items: center ;
    font-size: 30px;
    font-weight: 400px;
    margin-top: 100px;
    border-bottom: 10px solid red;
    padding: 10px;  
    border-bottom-style:ridge;
    border-bottom-right-radius: 50px;

}

#info1{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding :120px;
    gap:80px;
    
}

#info1>p{
    border-top: 3px red solid;
    border-top-style: groove;
}







.web3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}

#menu-info{
    width: 900px;
    font-size: 10px;
    font-size: 20px;
    padding-top: 50px;
}   


#menu-items{
    display: flex;
    flex-direction: row;
    line-height: 20px;  
    align-items: stretch;
    padding: 60px;
    font-size: 15px;
    font-style: italic;
    gap:60px

}

.im{

    width: 150px;
    border-radius: 20px;
    
}


.aboutpizza{
    text-transform: capitalize;
}

h3{
    color: gold;
    font-size: 20px; 
}





.web4{
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}

#carouselExampleCaptions{
    margin-top: 90px;
}


.carpic{
    height: 500px;
    width: 800px;

}


#web5{
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}


li{
    list-style-type: none;
}

.simg {
    height: 500px;
    width: 600px;
     position: relative;
    left : 10vw;
    top: 5vw; 
border-radius: 20px;
}

.smimg{
     height: 250px;
    width: 300px;
     position: relative;
    left : 50vw;
    bottom: 28vw;
    padding : 5px;
    border-radius: 20px;
}


.contact{
    display: flex;
    gap:50px;
    font-size: 25px;
    justify-content: center;
    padding-top:40px;
    line-height: 35px;
}

.map{
    height: 600px;
    width: 1000px;
    border-radius: 10px;
}

.loc{
    padding: 40px
}


@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }
    .header > p {
        font-size: 24px;
        margin-right: 0;
    }
    .header > ul {
        padding: 0;
        text-align: center;
    }
    .header > ul > li {
        display: block; 
        padding: 5px 0;
    }
    .header > ul > li > a {
        padding-left: 0;
    }
    .intro1 {
        width: 90%;
        height: auto;
        margin-left: 5%; 
        margin-top: 100px;
        font-size: medium;
    }
    .intro1 > h1 {
        font-size: 32px;
    }


    #info1 {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        margin-top: 50px;
    }


    #menu-items {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }
    .im {
        width: 100%; 
        height: auto;
    }
    #menu-info {
        width: 90%;
        padding-top: 20px;
        margin: auto;
    }

 
    .carpic {
        height: auto; 
        width: 90%;
        margin: auto;
        display: block; 
    }

    .simg, .smimg {
        width: 90%; 
        height: auto; 
        position: static; 
        left: 0; 
        top: 0;
        bottom: 0;
        margin: 10px auto; 
        display: block;
    }
    .gallary {
        display: block; 
    }
    

    .contact {
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
    }
    .loc {
        padding: 10px;
    }
    .map {
        height: 300px;
        width: 90%;  
        margin: auto; 
        display: block;
    }
    
    .web1, .web2, .web3, .web4, #web5 {
        height: auto; 
        min-height: 100vh; 
    }

}